{% extends "RootLayout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2023!</b> Your team has been approved and you are ready to start the iGEM season!{%
endblock %}

{% block page_content %}
<section>
    <div class="teamcontainer">
        <div class="bubbles">
            <span style="--i:11;"><img src="static/Vanessa Logan.png" alt="Image 1"></span>
            <span style="--i:12;"><img src="static/Vanessa Logan.png" alt="Image 2"></span>
            <span style="--i:14;"><img src="static/Vanessa Logan.png" alt="Image 3"></span>
            <span style="--i:11;"><img src="static/Vanessa Logan.png" alt="Image 1"></span>
            <span style="--i:12;"><img src="static/Vanessa Logan.png" alt="Image 2"></span>
            <span style="--i:14;"><img src="static/Vanessa Logan.png" alt="Image 3"></span>
            <span style="--i:11;"><img src="static/Vanessa Logan.png" alt="Image 1"></span>
            <span style="--i:12;"><img src="static/Vanessa Logan.png" alt="Image 2"></span>
            <span style="--i:14;"><img src="static/Vanessa Logan.png" alt="Image 3"></span>
            <span style="--i:11;"><img src="static/Vanessa Logan.png" alt="Image 1"></span>
            <span style="--i:12;"><img src="static/Vanessa Logan.png" alt="Image 2"></span>
            <span style="--i:11;"><img src="static/Vanessa Logan.png" alt="Image 1"></span>
            <span style="--i:12;"><img src="static/Vanessa Logan.png" alt="Image 2"></span>
        </div>
    </div>
    <div class="attributionscontainer">
        <div class="attribution">
            <div class="first">
                <p id="name"><b>Vanessa Logan </b></p>
                <p id="role">Wiki Team</p>
                <p id="tasks">Coding research, designs </p>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    
</section> -->
{% endblock %}