<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />
  <link href="{{ url_for('static', filename = '/css/main.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = '/css/tailwind-output.css') }}" rel="stylesheet">

  <!--Team CSS file  -->
  <link href="{{ url_for('static', filename = '/css/team.css') }}" rel="stylesheet">

<title>{% block title %}{% endblock %} | AshesiGhana - iGEM 2024</title>
</head>

<body>
  <!-- Navigation template -->
  {% include 'navigation.html' %}
    <main class="px-3 450px:px-5 600px:px-10 750px:px-8 1000px:px-[3rem] 1400px:px-[7rem] 1650px:px-[17rem] 1800px:px-[24rem]  2050px:px-[32rem]">
        {% block page_content %}{% endblock %}
    </main>

    {% include 'footer.html' %}
  <script src="../static/lib/fontIcons.js"></script>
  <script type="module" src="../static/js/index.js"></script>
  </body>
</html>
