body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow-x: hidden;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 14px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar a:hover, .navbar a.active {
    color: #adebad;
}

.section {
    padding: 100px 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease;
}

.footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
