body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrolling to keep the focus on the 3D scene */
}

.human-practices {
    width: 100vw;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Aligns child divs vertically */
    align-items: center;
    justify-content: center;
    background-color: #000; /* Dark background to enhance the visibility of 3D objects */
}

#scene-container {
    width: 100%;
    height: 75vh; /* Adjusted for viewing the panel below */
}

.additional-info {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}
