@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merienda:wght@300..900&display=swap');


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  font-family: "poppins";
  background: #010315;
  background: radial-gradient(circle, rgba(2,9,54,1) 0%, rgba(2,0,36,1) 100%);
}

.merienda-100 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.merienda-200 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.merienda-300 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.merienda-400 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.merienda-500 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.merienda-600 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.merienda-700 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.merienda-800 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.merienda-900 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

